/* .content-section {
    background: rgb(255, 255, 255);
  }
  
  .scrolled-nav {
    height: auto;
  }
  
  .counter {
    width: 20px;
    height: 20px;
    background: black;
    color: #fff;
    position: fixed;
    top: 120px;
    right: 0;
  } */